body{
    margin:0;
    background:#e5e5e5;
    font-family:Arial, sans-serif;
}

.back{
    display:inline-block;
    margin:15px;
    text-decoration:none;
    color:#0b5ed7;
    font-weight:bold;
}

.cv-page{
    max-width:900px;
    margin:auto;
    padding:10px;
}

.full-cv{
    width:100%;
    display:block;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}
